$text-color-dark: #000000;
$text-color: #212529;
$text-color-light: #5c757b;

$button-color: #007bff;
$button-color-active: #0079b8;
$button-text-color: #ffffff;

$left-column-color: #f2f2f2;
$left-column-width: 100px;

$values-left: $left-column-width;
$values-width: 410px;